.footer {
  text-align: center;
  margin: 60px 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(247, 11, 11);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
body {
  background: rgb(253, 226, 253);
  max-width: 76%;
  margin: 0 auto;
}
