.Dictionary section {
  background: rgb(254, 227, 243);
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(46, 41, 41, 0.907);
  margin: 20px 0;
}
.Dictionary h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(140, 64, 76);
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 5px;
  font-family: monospace;
  color: rgb(72, 109, 97);
}
