.similar {
  margin: 15px 0 0;
  padding: 0;
}

.similar li {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  color: rgb(138, 121, 94);
  padding-right: 10px;
  line-height: 1;
}
